body {
  width: 100%;
  background-color: #E7ED28;
}

* {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  z-index: 10;
}

.container2 {
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
  z-index: 10;
}

.container3 {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  z-index: 10;
}

.hi-50{
  height: 50px;
}

.hi-276{
  height: 225px;
}

.hi-84{
  height: 84px;
}

.hi-322{
  height: 322px;
}

.p-b-360{
  padding-bottom: 360px;
}

.p-b-188{
  padding-bottom: 188px;
}

.p-b-26{
  padding-bottom: 26px;
}

@media screen and (max-width: 1200px){
  .container{
    max-width: 812px;
  }
}