div.footer {
  max-width: 100%;
}

div.footer .container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

div.footer *.item {
  font-weight: 500;
  font-size: 12px;
  line-height: 158.02%;

  display: flex;
  align-items: center;

  color: #000000;
}