@font-face {
  font-family: 'Noto Sans KR', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
}


a.tag {
  font-family: 'Sculpin';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
}

.tag_drop-shadow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

a.tag_focus {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  margin-right: 10px;
  padding-bottom: 2px;
  color: #EDEE00;
  border-bottom: 1px #EDEE00 solid;
}

div.title_tag {
  font-family: 'Sculpin';
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 96px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #FFFFFF;
}