:root {
  --max-width: 100%;
  --header-height: calc((var(--max-width) / 10) - (var(--max-width) / 100));
  --header-shadow: calc(var(--header-height)/10);
}

.nav {
  outline-style: solid;
  outline-color: black;

  width: var(--max-width);
  height: var(--header-height);
}

.header {
  outline-style: solid;
  outline-color: black;

  color: black;

  display: flex;
  flex-direction: row;
  list-style-type: none;

  width: var(--max-width);
  height: calc(var(--max-width) * 0.95);

  padding: calc(var(--header-height) * 0.27) calc(var(--max-width) * 0.05);

  background-color: #E7ED28;
  box-shadow: 0px var(--header-shadow) 0px rgba(0, 0, 0, 0.25);
}

.navigation {
  color: black;

  cursor: pointer;

  width: 1270px;
  height: 50px;

  background-color: aquamarine;
}

.group8 {
  padding: 0px;
  margin: 0px;

  position: absolute;
  z-index: -2;

  width: 1440.22px;
  height: 1568px;
  left: 0px;
  top: 76px;
}

.rectangle12{
  outline-style: solid;
  outline-color: black;

  color: black;

  width: 1440px;
  height: 70px;
  left: 0px;
  top: 76px;

  background: #E7ED28;
}

.main {
  outline-style: solid;
  outline-color: black;

  color: black;

  width: 1440.22px;
  height: 810px;
  left: 0px;
  top: 0px;

  background: url(Untitled-1.png);
}

.sub-one {
  outline-style: solid;
  outline-color: black;

  color: black;

  width: 1440px;
  height: 690px;
  left: 0px;
  top: 0px;

  background: #EDFF00;
  mix-blend-mode: normal;
}

.sub-two {
  outline-style: solid;
  outline-color: black;

  color: black;
  
  position: absolute;
  width: 1442px;
  height: 811px;
  left: 0px;
  top: 1644px;
}