div.main .container{
  height: 800px;
  position: absolute;
  background-image: url('https://media.githubusercontent.com/media/luke0408/2022GCVD_WebPage/main/images/gifs/main_logo.gif');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

div.main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body#home_page .footer{
  position: absolute;
  bottom: 1.25rem;
  left: 2rem;
  right: 2rem;
}

div.content {
  height: 90%;
  background-image: url('https://media.githubusercontent.com/media/luke0408/2022GCVD_WebPage/main/images/gifs/main_title.gif');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

div.content .title_box {
  position: absolute;
  width: 60%;
  margin: 0 auto;
  left: 20%;
  top: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}