div.main .container{
  height: 800px;
  position: absolute;
  background-image: url('../images/gifs/main_logo.gif');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

div.main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div.content {
  height: 100%;
  background-image: url('../images/gifs/main_title.gif');
  background-position: center 15%;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

div.content .title_box {
  position: absolute;
  width: 60%;
  margin: 0 auto;
  left: 20%;
  top: 64%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}