body#about_page {
  background-color: #FFFFFF;
}

body#about_page .header {
  background-color: #023D31;
}

body#about_page * .tag {
  color: #FFFFFF;
}

body#about_page * .focus {
  color: #EDFF00;
}

body#about_page .banner {
  width: 100vw;
  object-fit: contain;
}

div#about_text .container2 {
  margin: 160px auto;
  display: flex;
  justify-content: space-between;
}

div.right_text {
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;

  align-items: center;
  text-align: center;

  color: #000000;
}

div.left_text {
  max-width: 543px;
}

div.left_text .sub_title {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: center;

  color: #000000;
}

div.left_text div {
  padding-bottom: 49px;
}

div.left_text .sub_text-kor {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;

  color: #023D31;
}

div.left_text .sub_text-eng {
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #023D31;
}

div#about_main {
  position: relative;
  background: #000000;
  color: #FFFFFF;
}

div#about_main * .content {
  padding-top: 220px;
}

div.content .content-box {
  width: 1060px;
  margin: 41px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.content .content-box .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.content-box .title-one {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;

  margin-bottom: 39px;
}

div.content-box .text-tag {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #EDFF00;

  margin-bottom: 44px;
}

div.content-box .text-content {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #D9D9D9;

  margin-bottom: 133px;
}

div.content-box .title-two {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #EDFF00;

  margin-bottom: 42px;
}

div.content-box .text-tag2 {
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

div.container3 .left_box{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

div.left_box .text {
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;

margin-top: 55px;
}

div.left_box .date {
font-weight: 500;
font-size: 36px;
line-height: 43px;
display: flex;
align-items: center;

margin-top: 68px;
}

div.left_box .schedule {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 242px;

  margin-top: 43px;
}

div.schedule .schedule-box {
font-size: 15px;
line-height: 18px;
}

div#logo {
  margin-top: 160px;
  margin-bottom: 132px;
}

div#logo .sub-title {
font-weight: 500;
font-size: 20px;
line-height: 24px;

margin-top: 14.5px;
}

div.credit .space-between{
  padding-top: 35px;
  padding-bottom: 47px;
}

div.credit{
  position: relative;
  width: 470px;
  margin: 300px 167px 0 auto;

font-size: 16px;
line-height: 23px;
}

div.credit * div {
  margin-bottom: 19px;
}

div.credit * .point{
  margin-bottom: 66px;
}

div.credit .title{
font-weight: 700;
font-size: 32px;
line-height: 183.8%;

margin-bottom: 43px;

color: #EDFF00;
}

div.credit .sub-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 183.8%;
}