body#projects_content-page {
  background-color: #FFFFFF;
}

body#projects_content-page .header {
  background-color: #FFFFFF;
}

body#projects_content-page * a.tag {
  color: #002A21;
}

div.projects-All * .title_tag {
  cursor: pointer;
  color: #023D31;
} 

div.project-grid {
  align-items: center;
  display: grid;
  gap: 13px;
  row-gap: 29px;
  grid-template-columns: repeat(4, 270px);
  padding-bottom: 59px;
}

div.project-grid .project-card {
  position: relative;
}

a.project-card img {
  padding-bottom: 13px;
}

a.project-card .text-box .name {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  padding-bottom: 3px;

  color: #023D31;
}

a.project-card .text-box .project-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #023D31;
}

@media screen and (max-width: 1200px){
  div.header {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  }

  .hi-84 {
    height: 56px;
  }

  div.title_box .title_tag {
    font-size: 50px;
    line-height: 60px;
  }

  img.type-b {
    width: 812px;
    height: 32px;
  }

  img.p-b-188 {
    width: 812px;
    height: 49px;
    padding-bottom: 128px;
  }

  div.title_boxs {
    height: 76.5px;
    margin-bottom: 44px;
  }

  div.title_boxs .uxui {
    width: 522px;
    height: 40px;
  }

  div.title_boxs .character {
    width: 673px;
    height: 40px;
  }

  div.title_boxs .media {
    width: 492px;
    height: 40px;
  }

  div.hi-322{
    height: 275px;
  }

  div.projects-All .title_box {
    height: 93px;
    margin-bottom: 32px;
  }

  div.project-grid {
    gap: 19px;
    row-gap: 34px;
    grid-template-columns: repeat(3, 258px);
    padding-bottom: 59px;
  }

  a.project-card .thumbanil {
    width: 258px;
    height: 210px;
  }
}