body#projects_page{
  background-color: #002A21;
  z-index: 1;
}

.gif {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 9;
}

a.all {
  width: min-content;
  margin-right: auto;
}

div#project_main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

div#project_main .container{
  margin: auto;
}

div#project_main * .title_box{
  position: relative;
  height: 96px;
  margin-bottom: 8px;
}

div#project_main  * .title_box img{
  position: absolute;
  bottom: 0;
  left: 0;
}

div.projects-All .title_box{
  position: relative;
  padding: 0;
  height: 135px;
  margin-bottom: 7px;
}

body#projects_page * a.tag{
  color: #FFFFFF;
}

div.title_boxs{
  position: relative;
  height: 96px;
  margin-bottom: 98px;
}

div.title_boxs img {
  position: absolute;
  bottom: 0px;
}

div.back_to_top{
  position: fixed;
  cursor: pointer;
  width: 73px;
  height: 73px;
  bottom: 7vh;
  right: 1.6rem;
  z-index: 30;
}