body#projects_page{
  background-color: #002A21;
}

div#project_main .container{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

a.title_box{
  position: relative;
  height: 96px;
  margin-bottom: 8px;
  cursor: pointer;
}

a.title_box img{
  position: absolute;
  bottom: 0;
}

body#projects_page * a.tag{
  color: #FFFFFF;
}